# =====================================
[Unit]
Description=BaiY Secure Tunnel

# =====================================
[Service]
Type=forking

Restart=always
RestartSec=2

TimeoutStartSec=5
TimeoutStopSec=10

Environment=LANG=en_US.UTF-8
Environment=LD_PRELOAD=/BaiY/ST/libtcmalloc_minimal.so

WorkingDirectory=/BaiY/ST
ExecStart=/BaiY/ST/BaiY_STunnel -asdaemon
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/BaiY/ST/byst.pid

# =====================================
[Install]
WantedBy=multi-user.target
Alias=byst
